.yash-centerheader {
  text-align: center;
  background-color: white;
  background: url(https://image.shutterstock.com/image-photo/beautiful-abstract-grunge-decorative-navy-260nw-539880832.jpg);
}

.profile-pic {
  border-radius: 50%;
}

.carousel-item {
 height: 300px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}
